<div class="container mb-3">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center my-3">
    <div class="">
      <h3>Variants</h3>
    </div>
    <div>
      {{!-- <button
        class="btn btn-primary dropdown-toggle mr-2"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Actions
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        {{#each model.product.statusEvents as |event|}}
          <button class="dropdown-item" {{action "execStatusEvent" event}}>{{humanize event}}</button>
        {{else}}
          <a class="dropdown-item disabled" href="#">No further actions</a>
        {{/each}}
      </div> --}}
    </div>
    <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#newVariant">+ Variant</button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr class="text-nowrap">
          <th>Created At</th>
          <th>Name</th>
          <th>Description</th>
          <th>SKU</th>
          <th>Component Name</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each model.variants as |variant|}}
          <tr>
            <td>{{moment-format variant.created_at "DD MMM YYYY LT" allowEmpty=true}}</td>
            <td>{{variant.name}}</td>
            <td>{{humanize variant.description}}</td>
            <td>{{variant.sku}}</td>
            <td>{{variant.component_name}}</td>
            <td class="text-{{dasherize variant.status}}"><span class="badge badge-{{dasherize variant.status}}">{{humanize variant.status}}</span></td>
            <td>{{#link-to "products.show.variant.show" variant.id}}{{fa-icon "info-circle"}}{{/link-to}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>

{{outlet}}

<div class="modal fade" id="newVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Variant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form {{action "queryChanged" on="submit"}}>
          <div class="form-group form-group-custom sm-input">
            <label>Name</label>
            {{input
              value=name
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom">
            <label>Description</label>
              {{textarea
                value=description
                rows="4"
                class="form-control"
              }}
          </div>
          <div class="form-group form-group-custom">
            <label>3 Months Rental Price</label>
            {{input
              value=price3m
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom">
            <label>6 Months Rental Price</label>
            {{input
              value=price6m
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom">
            <label>1 Year Rental Price</label>
            {{input
              value=price1y
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom">
            <label>2 Years Rental Price</label>
            {{input
              value=price2y
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom">
            <label>SKU</label>
            {{input
              value=sku
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom">
            <label>Rent To Own Price</label>
            {{input
              value=rtoPrice
              class="form-control"
            }}
          </div>
          <div class="form-group form-group-custom sm-input">
            <label>Image(s)</label>
            {{#file-dropzone name="image" as |dropzone queue|}}
              <div class="dropzone mx-auto">
                {{#if tempImageArr}}
                  {{#each tempImageArr as |image index|}}
                    {{add index 1}}. {{image.name}} <br>
                  {{/each}}
                {{else}}
                  <div style="min-height:200px; border-style: dashed;">
                    <form class="dropzone text-center">
                      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height:200px">
                        <div>
                          {{fa-icon "cloud-upload-alt" size="3x"}}
                          <div class="icon"><span class="mdi mdi-cloud-upload"></span></div>
                          <h3>Drag and Drop file here</h3>
                        </div>
                      </div>
                    </form>
                  </div>
                {{/if}}
                <div class="p-1 text-center">
                  {{#if dropzone.active}}
                    {{#if dropzone.valid}}
                      Drop to upload
                    {{else}}
                      Invalid
                    {{/if}}
                  {{else}}
                    {{#if (and dropzone.supported (not image) )}}
                      Drag & Drop File<br>
                    {{/if}}
                    {{#file-upload name="image"
                      accept="image/*"
                      multiple=true
                      onfileadd=(action "uploadImage")}}
                      <a id="upload-image" class="btn btn-sm btn-info text-white" tabindex="0">Upload Image</a>
                    {{/file-upload}}
                  {{/if}}
                </div>
              </div>
            {{/file-dropzone}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{#if processing}}
          <button type="button" class="btn btn-success" disabled=disabled>Processing..</button>
        {{else}}
          <button type="button" class="btn btn-success" {{action "create"}}>Create</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
